body {
    background-color: rgb(188, 188, 171);
    color: rgb(255, 255, 255); 
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 2;
    padding: 1;
}
/* Estilo dos links em todas p치ginas*/
.color_link{
    color: rgb(236, 245, 245);
}

/* Estilos das caixas de texto da p치gina contato */
.caixa_text_basica{
    width: 250px;
    padding: 1;
}
#caixa_text_msg{
    width: 300px;
    height: 75px;

}

/* Estilos das imagens da p치gina portf칩lio*/
#linkedin{
    width: 80px;
    height: 70px;
}
#github{
    width: 80px;
    height: 70px;
}
